<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
    xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style>
        <!--
        /* Style Definitions */
        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
        }

        a:link,
        span.MsoHyperlink {
            mso-style-priority: 99;
            color: blue;
            text-decoration: underline;
        }

        a:visited,
        span.MsoHyperlinkFollowed {
            mso-style-priority: 99;
            color: purple;
            text-decoration: underline;
        }

        p.msonormal0,
        li.msonormal0,
        div.msonormal0 {
            mso-style-name: msonormal;
            mso-margin-top-alt: auto;
            margin-right: 0in;
            mso-margin-bottom-alt: auto;
            margin-left: 0in;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
        }

        span.EmailStyle19 {
            mso-style-type: personal-reply;
            font-family: "Calibri", sans-serif;
            color: windowtext;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            font-size: 10.0pt;
        }

        @page WordSection1 {
            size: 8.5in 11.0in;
            margin: 1.0in 1.0in 1.0in 1.0in;
        }

        div.WordSection1 {
            page: WordSection1;
        }
        -->
    </style>
    <!--[if gte mso 9]><xml>
    <o:shapedefaults v:ext="edit" spidmax="1026" />
    </xml><![endif]-->
    <!--[if gte mso 9]><xml>
    <o:shapelayout v:ext="edit">
    <o:idmap v:ext="edit" data="1" />
    </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white lang=EN-US link=blue vlink=purple>
    <div class=WordSection1>
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
            style='width:100.0%;background:white;border-collapse:collapse'>
            <tr>
                <td width="100%" valign=top style='width:100.0%;padding:0in 0in 0in 0in'>

                    <div align=center>
                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                            style='width:100.0%;border-collapse:collapse'>
                            <tr>
                                <td valign=top style='padding:0in 0in 0in 0in'>

                                    <div align=center>
                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
                                            style='width:6.25in;border-collapse:collapse'>
                                            <tr>
                                                <td width=600 valign=top style='width:6.25in;padding:0in 0in 0in 0in'>
                                                    <div align=center>
                                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                                            width=600 style='width:6.25in;background:#0071c5'>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr style='height:30.0pt'>

                                                                <td width=300 valign=top style='padding-left:15px'>

                                                                    <p class=MsoNormal><span
                                                                            style='font-size:17pt;color:white'>Intel®
                                                                            API
                                                                            Management<o:p></o:p>
                                                                        </span></p>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <p class=MsoNormal style='line-height:12.0pt'><span
                                                            style='font-size:6.0pt;font-family:"Arial",sans-serif;display:none'>
                                                            <o:p>&nbsp;</o:p>
                                                        </span></p>
                                                    <div align=center>
                                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                                            width="100%"
                                                            style='width:100.0%;background:#0071c5;border-collapse:collapse'>
                                                            <tr>
                                                                <td style='padding:0in 0in 0in 0in'></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                </td>
            </tr>
            <tr>
                <td style='padding:0in 0in 0in 0in'>
                    <div align=center>
                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
                            style='width:6.25in;border-collapse:collapse'>
                            <tr style='height:15.0pt'>
                                <td width="100%" style='width:100.0%;padding:0in 0in 0in 0in;height:15.0pt'>
                                    <p class=MsoNormal>&nbsp;<o:p></o:p>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style='padding:0in 0in 0in 0in'>
                                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
                                        style='width:6.25in;border-collapse:collapse'>
                                        <tr>
                                            <td width=600 valign=top
                                                style='width:6.25in;background:white;padding:0in 0in 0in 0in'>
                                                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                                    width="100%" style='width:100.0%;border-collapse:collapse'>
                                                    <tr style='height:7.5pt'>
                                                        <td width="100%"
                                                            style='width:100.0%;padding:0in 0in 0in 0in;height:7.5pt'>
                                                            <p class=MsoNormal>&nbsp;<o:p></o:p>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style='padding:0in 7.5pt 0in 7.5pt'>
                                                            <table class=MsoNormalTable border=0 cellspacing=0
                                                                cellpadding=0 width="100%"
                                                                style='width:100.0%;border-collapse:collapse'>
                                                                <tr>
                                                                    <td width="100%" valign=top
                                                                        style='width:100.0%;padding:0in 0in 0in 0in'>
                                                                        
                                                                        <p style='font-size:10.5pt;font-family:"Arial",sans-serif;color:#333333'>You are receiving
                                                                            this Email as you are listed as owner(s) for
                                                                            the following App in API Management</p>
                                                                        <p style='font-size:10.5pt;font-family:"Arial",sans-serif;color:#333333'><strong>App
                                                                                Name:</strong> <%- appName %></p>
                                                                        <% if(isTeam) { %>
                                                                        <p style='font-size:10.5pt;font-family:"Arial",sans-serif;color:#333333'><strong>Team
                                                                                Name:</strong> <%- appOwnerEmail %></p>
                                                                        <% } else {%>
                                                                        <p style='font-size:10.5pt;font-family:"Arial",sans-serif;color:#333333'><strong>App
                                                                                Owner:</strong> <%- appOwnerEmail %></p>
                                                                        <% } %>
                                                                        <p style='font-size:10.5pt;font-family:"Arial",sans-serif;color:#333333'>App is now provisioned with valid credentials
                                                                            and is now ready to view on API Portal.</p>
                                                                        <p style='font-size:10.5pt;font-family:"Arial",sans-serif;color:#333333'>Note: Access to individual APIs will be granted once approved by respective API Owners
                                                                        </p>

                                                                    </td>
                                                                </tr>
                                                                <tr style='height:11.25pt'>
                                                                    <td width="100%"
                                                                        style='width:100.0%;padding:0in 0in 0in 0in;height:11.25pt'>
                                                                        <p class=MsoNormal>&nbsp;<o:p></o:p>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr style='height:22.5pt'>
                                                        <td width="100%"
                                                            style='width:100.0%;padding:0in 0in 0in 0in;height:22.5pt'>
                                                            <p class=MsoNormal>&nbsp;<o:p></o:p>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="100%" valign=top style='width:100.0%;padding:0in 0in 0in 0in'>
                    <div align=center>
                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                            style='width:100.0%;border-collapse:collapse'>
                            <tr>
                                <td valign=top style='padding:0in 0in 0in 0in'>

                                    <div align=center>
                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
                                            style='width:6.25in;border-collapse:collapse'>
                                            <tr>
                                                <td width=600 valign=top style='width:6.25in;padding:0in 0in 0in 0in'>
                                                    <div align=center>
                                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                                            width=600 style='width:6.25in;background:#0071c5'>
                                                            <tr style='height:30.0pt'>
                                                                <td width=600
                                                                    style='width:6.25in;padding:0in 0in 0in 0in;height:30.0pt'>
                                                                    <p class=MsoNormal align=center
                                                                        style='text-align:center'><span
                                                                            style='font-size:10pt;color:white'>Thank
                                                                            you for using API Management. Please do not
                                                                            reply to this automated email. <o:p></o:p>
                                                                        </span></p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <p class=MsoNormal style='line-height:12.0pt'><span
                                                            style='font-size:6.0pt;font-family:"Arial",sans-serif;display:none'>
                                                            <o:p>&nbsp;</o:p>
                                                        </span></p>
                                                    <div align=center>
                                                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                                            width="100%"
                                                            style='width:100.0%;background:#0071c5;border-collapse:collapse'>
                                                            <tr>
                                                                <td style='padding:0in 0in 0in 0in'></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
        </p>
    </div>
</body>

</html>